header {
    background-color: rgb(100, 100, 117);
    color: gold;
    text-align: center;
}
main {
    background-color: rgb(226, 160, 74);
    padding: 1em;
}

body {
    background-image: url('record.png');
    animation: slide 10s infinite alternate;
    margin: 0;
}